* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header and Nav CSS  */
li, a, p {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: grey;
}

/* Home Page CSS */

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-image {
    max-width: 800px;
    height: auto;
    padding: 30px;
    margin: 20px;
}

.home-page-written-content {
    width: 800px;
    text-align: center;
    margin: 20px 20px 80px 20px;
}


/* The burger-menu menu */
.burger-button {
    display: none;
}

.burger-test {
    height: 250px; /* Specify a height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the burger-menu */
  }

  .burger-menu div {
      display: none;
      width: 25px;
      height: 5px;
      background-color: black;
  }
  
  /* The burger-menu links */
  /* .burger-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
  
  /* When you mouse over the navigation links, change their color */
  /* .burger-menu a:hover {
    color: #f1f1f1;
  } */
  
  /* Position and style the close button (top right corner) */
  /* .burger-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  
  /* Style the button that is used to open the burger-menu */
  /* .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444; */