* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Barlow', sans-serif; */
}


/* FONT SIZES STARTS */
/* FONT SIZES STARTS */


h1 {
    font-size: 60px;
    color: #464654;
}

h2 {
    font-size: 36px;
    color: #464654;
}

h3 {
    font-size: 20px;
    color: #464654;
    font-weight: 400;
}

span {
    font-size: 18px;
    color: #464654;
}

p {
    font-size: 18px;
    color: #464654;
}

/* FONT SIZES ENDS */
/* FONT SIZES ENDS */


/* HEADER AND NAV STARTS */
/* HEADER AND NAV STARTS */


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 15vh;
    z-index: 2;
    /* font-size: 12px; */
}

li, a {
    font-weight: 400;
    font-size: 18px;
    color: #464654;
    text-decoration: none;
}

p {
    font-weight: 400;
    color: #464654;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: grey;
}

/* HEADER AND NAV ENDS */
/* HEADER AND NAV ENDS */


/* MAIN PAGE STARTS */
/* MAIN PAGE STARTS */

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-image {
    max-width: 50%;
    height: auto;
    margin: 0px;
}

.main-page p {
    width: 80%;
    text-align: center;
    color: #464654;
    margin: auto;
}

.main-page h1 {
    width: 50%;
    text-align: center;
    font-size: 5em;
    color: #464654;
    margin: 5vh;
}

.main-page span {
    width: 50%;
    text-align: center;
    color: #464654;
    margin: 5vh;
    height: 80%;
}

/* MAIN PAGE ENDS */
/* MAIN PAGE ENDS */


/* LANDING IMAGE STARTS */
/* LANDING IMAGE STARTS */

.landing-image-div-wrapper {
    display: block;
    height: 60vh;
    width: 100%;
}

.home-section-image-div {
    display: flex;
    margin: auto;
    width: 80%;
    height: 60vh;
    justify-content: center;
}

.home-section-image-div img {
    position: absolute;
    height: 60vh;
    max-width: 100%;
    margin: auto;
    z-index: 1;
}

/* LANDING IMAGE ENDS  */
/* LANDING IMAGE ENDS  */

/* LANDING IMAGE TRANSITION STARTS */
/* LANDING IMAGE TRANSITION STARTS */

.top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

/* LANDING IMAGE TRANSITION ENDS */
/* LANDING IMAGE TRANSITION ENDS */


/* DIVIDER LINE STARTS */
/* DIVIDER LINE STARTS */

  hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    margin-top: 5vh;
    }

/* DIVIDER LINE ENDS */
/* DIVIDER LINE ENDS */


/* LANDING SECTION STARTS */
/* LANDING SECTION STARTS */

.callout-text {
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

.home-section {
    margin-top: 15vh;
}

.home-section-callout-text {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.mini-hours-content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 5vh;
}

.mini-curio-hours-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 2vh;
}

.mini-curio-hours-div span {
    text-align: center;
    margin: 0;
}

.home-section-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

/* LANDING SECTION ENDS */
/* LANDING SECTION ENDS */


/* COFFEE SECTION STARTS */
/* COFFEE SECTION STARTS */

.coffee-callout-text {
    font-size: 20px;
    margin: 0px;
}

/* COFFEE IMAGE GALLERY */


.coffee-section-info-text {
    margin: auto;
    margin-bottom: 5vh;
    align-items: center;
}

.coffee-section-info-text p {
    text-align: justify;
    width: 50%;
}

.coffee-info-and-gallery-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10vh;
    margin: auto;
}

.coffee-photo-gallery-div {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 4px;
    justify-content: center;
    }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 50vh;
    min-width: 50vh;
  }

/* COFFEE SECTION ENDS */
/* COFFEE SECTION ENDS */


/* WAFFLES SECTION STARTS */
/* WAFFLES SECTION STARTS */


/* WAFFLES SECTION ENDS */
/* WAFFLES SECTION ENDS */

/* WINE SECTION STARTS */
/* WINE SECTION STARTS */

/* WINE SECTION ENDS */
/* WINE SECTION ENDS */

/* HOURS SECTION STARTS */
/* HOURS SECTION STARTS */


.hours-content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.curio-hours-div {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.east-cambridge {
    font-size: 14px;
    width: 80%;
    margin: 10px;
    text-align: center;
}

.address {
    text-align: center;
}

.social-media-icons {
    display: flex;
}

.social-media-icons li {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

/* HOURS SECTION ENDS */
/* HOURS SECTION ENDS */



/* HAMBURGER MENU STARTS */
/* HAMBURGER MENU STARTS */

.burger-menu  {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 0;
    position: fixed;
    border-left: 1px solid grey;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .burger-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .burger-menu a:hover {
    color: #f1f1f1;
  }
  
  .burger-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  #burger-button {
      display: none;
  }

/* HAMBURGER MENU ENDS */
/* HAMBURGER MENU ENDS */

/* INTERMEDIATE SCREEN SIZE STARTS */
/* INTERMEDIATE SCREEN SIZE STARTS */

  @media screen and (max-width: 1130px) {
    .nav-links li {
        padding: 0px 20px;
    }
  }

/* INTERMEDIATE SCREEN SIZE ENDS */
/* INTERMEDIATE SCREEN SIZE ENDS */



/* MOBILE SCREEN SIZE STARTS */
/* MOBILE SCREEN SIZE STARTS */

  @media screen and (max-width: 768px){
    header {
        justify-content: center;
        align-content: center;
        align-items: right;
        padding: 20px 10%;
        height: 20vh;
    }

    .main-page {
        font-size: 12px;
        width: 100%
    }

    .main-page h1 {
        font-size: 3.7em;
        margin: 2vh;
    }

    .main-page p {
        font-size: 1.5em;
    }

    p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: #363636;
        text-decoration: none;
    }

    span {
        font-size: 1.5em;
    }
    
    .nav-links {
          display: none;
      }

      .main-page-image {
          max-width: 90%;
          margin-bottom: 5px;
          margin-top: 5vh;
          padding: 0px;
      }

    

      #burger-button {
          display: inline-block;
          margin-left: auto;
      }

      .hours-content-wrapper {
          display: flex;
          flex-direction: column;
        
      }

      .curio-hours-div {
        margin: 5px;
        text-align: center;
        }


  }

/* MOBILE SCREEN SIZE ENDS */
/* MOBILE SCREEN SIZE ENDS */

