* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header and Nav CSS // Header and Nav CSS */
/* Header and Nav CSS // Header and Nav CSS */
/* Header and Nav CSS // Header and Nav CSS */


li, a, p {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #363636;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    height: 20vh;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: grey;
}

/* Main Pages CSS // Main Pages CSS */
/* Main Pages CSS // Main Pages CSS */
/* Main Pages CSS // Main Pages CSS */

.main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-image {
    max-width: 60%;
    height: auto;
    /* padding: 30px; */
    margin: 10px;
    margin-top: 20vh;
}

.home-page-written-content {
    width: 70%;
    text-align: center;
    margin: 20px 20px 80px 20px;
}

/* Hours Page CSS // Hours Page CSS */
/* Hours Page CSS // Hours Page CSS */
/* Hours Page CSS // Hours Page CSS */

.hours-content-wrapper {
    display: flex;
    justify-content: center;
}

.curio-hours-div {
    padding: 10px;
    margin: 15px;
}

/* Burger Menu CSS // Burger Menu CSS */
/* Burger Menu CSS // Burger Menu CSS */
/* Burger Menu CSS // Burger Menu CSS */


.burger-menu  {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 0;
    position: fixed;
    border-left: 1px solid grey;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .burger-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .burger-menu a:hover {
    color: #f1f1f1;
  }
  
  .burger-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  #burger-button {
      display: none;
  }


  /* Intermediate Screen Size CSS */
  /* Intermediate Screen Size CSS */
  /* Intermediate Screen Size CSS */


  @media screen and (max-width: 1130px) {
    .nav-links li {
        padding: 0px 20px;
    }
  }
  
  @media screen and (max-width: 768px){
    header {
        justify-content: center;
        align-content: center;
        align-items: right;
        padding: 20px 10%;
        height: 20vh;
    }
    
    .nav-links {
          display: none;
      }

      .logo {
          /* margin: auto; */
      }

      .main-page-image {
          max-width: 90%;
          margin-bottom: 10px;
          margin-top: 20vh;
          padding: 0px;
      }

      .home-page-written-content {
          font-size: 14px;
          width: 80%;
          margin: 10px;
      }

      #burger-button {
          display: inline-block;
          margin-left: auto;
      }



  }
  /* .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  } */
  
  /* .openbtn:hover {
    background-color:#444;
  } */